* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
}

h2, h3, p {
	padding-top: 10px;
}

.perfil {
	background-color: rgb(173,206,243);
	text-align: center;
}

.resumo {
	background-color: rgb(230,228,228);
	text-align: center;
}

a.button {
	color: white;
	text-align: center;
	border-radius: 3px;
	text-decoration: none;
}

h2 {
	color: rgb(59,59,184);
}

hr {
	background-color: rgb(187,187,233);
	height: 3px;
}

h3 {
	color: rgb(187,187,233);
}

img {
	width:200px;
	height:200px;
	 border-radius: 50%;
	margin-top: 10px;
}

#github{
	background-color: rgb(85,81,81);
}

#linkedin{
	background-color: #0E76A8;
}

#youtube{
	background-color: #FF0000;
}